.yellow {
  color: yellow;
}

.img3 {
  width: 100px;
  height: 100px;
  background: url(./assets/images/24310479.png) no-repeat;
}

.img4 {
  width: 100px;
  height: 100px;
  background: url(./assets/images/logo.png) no-repeat;
}
