.wrap {
  position: relative;
  .container {
    position: relative;
    z-index: 1;
    width: 375px;
    height: auto;
    border: 1px solid #a8a8a8;
    .component {
      position: relative;
      outline: none;
      cursor: -webkit-grab;
      cursor: grab;
      &.active {
        outline: 1px dotted #1890ff;
        z-index: 1;
      }
      &:hover {
        z-index: 2;
        outline: 1px solid #1890ff;
        .icon {
          display: block;
        }
      }
    }
    .icon {
      position: absolute;
      color: #1890ff;
      font-size: 16px;
      display: none;
      cursor: pointer;
    }
    .prepend {
      top: -8px;
      left: 50%;
      margin-left: -8px;
    }
    .append {
      bottom: -8px;
      left: 50%;
      margin-left: -8px;
    }
    .remove {
      right: -10px;
      top: -10px;
      font-size: 20px;
    }
    .moveUp {
      left: -10px;
      bottom: 50%;
    }
    .moveDown {
      left: -10px;
      top: 50%;
    }
  }
  .config {
    position: absolute;
    left: 375px;
  }
  .configContent {
    padding: 16px;
    background-color: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    width: 486px;
    margin-left: 20px;
    min-height: 20px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      border: 7px solid transparent;
      border-right-color: #f8f8f8;
      top: 13px;
      left: -14px;
      z-index: 1;
    }
    &::after {
      position: absolute;
      content: "";
      border: 7px solid transparent;
      border-right-color: #e5e5e5;
      top: 13px;
      left: -15px;
    }
  }
}
