{
  // 在开发类库，第三方模块或组件库时不能用 @babel/polyfill 这种方案，因为会把声明的变量变成全局变量，会污染全局环境
  // "presets": [
  //   [
  //     "@babel/preset-env",
  //     {
  //       "target": {
  //         // 这个项目运行在大于什么版本的浏览器上，已经支持es6的语法的高版本浏览器就不需要转义成es5了
  //         "edge": "17",
  //         "firefox": "60",
  //         "chrome": "67",
  //         "safari": "11.1"
  //       },
  //       "useBuiltIns": "usage" // 按需添加polyfill,把用到的代码都转成低版本浏览器兼容的
  //     }
  //   ]
  // ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "edge": "17",
        "firefox": "60",
        "chrome": "67",
        "safari": "11.1",
      },
      "corejs": 2,
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react"
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime", {
      "corejs": 2,
      "helpers": true,
      "regenerator": true,
      "useESModules": true
    }],
  ]
  //执行顺序：从下往上，从右向左的顺序
}